* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input:focus, textarea:focus, textarea::placeholder {
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    .input-title {
        border: 1px solid gray;
        border-bottom: none;
        padding: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: rgb(215, 214, 214);
        font-size: 20px;
        text-align: center;
    }
    .form-section {
        border: 1px solid gray;
        background-color: rgb(238, 237, 237);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-bottom: 20px;
        label {
            margin-left: 10%;
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        input {
            width: 80%;
            display: block;
            margin: auto;
            height: 40px;
            border-radius: 5px;
            border: 1px solid gray;
            padding: 10px;
            font-size: 18px;
        }
        textarea {
            resize: none;
            width: 80%;
            display: block;
            margin: auto;
            padding: 10px;
            font-size: 18px;
            border-radius: 5px;
            height: 100px;
        }
    }
    .todos-section {
        margin-top: 20px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: rgb(238, 237, 237);
        padding: 10px;
        .todo-item {
            padding: 2px;
            .todo-title-div {
                border: 1px solid gray;
                padding: 10px;
                padding-right: 15px;
                background-color: rgb(247, 247, 247);
                display: flex;
                font-size: 18px;
                .todo-title {
                    margin-right: auto;
                }
                .title-icon {
                    font-size: 20px;
                    cursor: pointer;

                }
                
            }
            .todo-body {
                background-color: white;
                border: 1px solid gray;
                border-top: none;
                max-height:100px;
                transition-duration: 500ms;
                overflow:hidden;
                .todo-body-content {
                    padding: 10px
                }
            }
            &-close{
                .todo-body{
                    max-height:0;
                }
            }
            
        }
    }
}